<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form action="" method="post">
    <table border="1">
        <tr>
            <td>{{ s.g.g_name }}</td>
            <td><input type="text" name="g_name"></td>
        </tr>
        <tr>
            <td>{{ s.name }}</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>{{ s.email }}</td>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>{{ s.password }}</td>
            <td><input type="text" name="password"></td>
        </tr>
        <tr><td><button>提交</button></td></tr>
    </table>
</form>
</body>
</html>